* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background: url(/images/fundo-degrade\ \(1\).png);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container img{
    position: absolute;
    margin-top: 700px;
}

.container text{
    position: absolute;
    margin-top: 700px;
}