@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/home2.png');
    background-size: cover;
    /* A imagem vai cobrir toda a tela */
    background-position: center;
    /* A imagem vai ser centralizada */
    background-repeat: no-repeat;
    /* A imagem não vai se repetir */
    margin: 0;
    /* Remover margens da tela */
    height: 100vh;
    /* Garantir que o body ocupe toda a altura da tela */
}

button {
    display: flex;
    width: 290px;
    height: 80px;
    border-radius: 80px;
    margin-top: 50px;
    margin-right: 440px;
    background: none;
    background: linear-gradient(#ec91d1, #940168);
    border: none;
}

a {
    background: none;
}

h1 {
    font-size: 20px;
    background: none;
    padding-top: 25px;
    padding-left: 40px;
}

button img {
    width: 50px;
    padding-top: 15px;
    padding-left: 5px;
    background: none;
}

p {
    font-size: 22px;
    font-family: "Inter", serif;
    font-weight: 600;
    margin-top: 300px;
    margin-right: 440px;
    width: 440px;
    background: none;
    text-align: center;
}


@media (max-width: 480px) {
    
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/celular.png');
}
    button {
        font-size: 14px;
        padding: 10px 20px;
    }

    button h1 {
        font-size: 14px;
    }

    button img {
        width: 18px;
        height: 18px;
    }
}