* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background: url(/images/Group\ 1.png);
}

#characters,
#accessories {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.character,
.accessory {
  width: 100px;
  cursor: pointer;
  user-select: none;
}

#avatarCanvas {
  border: 2px dashed pink;
}

.canva {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save button{
  width: 100px;
  height: 40px;
  background-color: pink;
}

#accessories {
  width: 100%;
  flex-wrap: wrap;
}

#accessories button {
  width: 180px;
  height: 160px;
}

#accessories button img {
  width: 180px;
  height: 200px;
}