* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background: url(/images/home.png);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container img{
    position: absolute;
    margin-top: 700px;
}

button {
    width: 200px;
    height: 80px;
    border-radius: 80px;
    background: url(/images/fundo-rosa-glitter.jpg);
}

.texto text{
    position: absolute;
    margin-top: 900px;
}