.carrossel-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: url('../images/cortina.png');
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 20px;
}

.carrossel-texto {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.carrossel-texto img {
  margin-left: -30px;
  margin-bottom: 60px;
}

.carrossel-um,
.carrossel-dois {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrossel-pagina-categorias {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrossel-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  max-width: 800px;
}

.carrossel-botao-categoria {
  padding: 15px 10px;
  height: 70px;
  background-color: #4d0938;
  color: rgb(245, 212, 243);
  border: none;
  border-radius: 38px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s;
  width: 250px;
  text-align: center;
}

.carrossel-botao-categoria:hover {
  background-color: #555;
  transform: scale(1.03);
}

.carrossel-pagina-carrossel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrossel-botao-voltar {
  width: auto;
  height: 50px;
  align-self: flex-start;
  margin-bottom: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #f3c5dc;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.carrossel-titulo-categoria {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.carrossel-carrossel {
  position: relative;
  width: 80%;
  height: 300px;
  perspective: 1200px;
  margin-top: 20px;
}

.carrossel-track {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.carrossel-item {
  position: absolute;
  width: auto;
  height: 90%;
  transform-origin: center;
  transition: transform 0.5s;
}

.carrossel-item img {
  width: auto;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.carrossel-selecionado {
  border: 3px solid pink !important;
  box-shadow: 0 0 15px rgba(255, 105, 180, 0.7);
}

.carrossel-controles {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carrossel-botao-navegacao {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

.carrossel-botao-navegacao:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carrossel-botao-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.carrossel-botao-confirmar {
  text-decoration: none;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 80px;
  border-radius: 80px;
  background: linear-gradient(#ec91d1, #94013e);
  border: none;
  cursor: pointer;
}

.carrossel-botao-confirmar h1 {
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.carrossel-botao-confirmar img {
  width: 50px;
  margin-left: 10px;
}

.carrossel-alerta-customizado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.carrossel-caixa-alerta {
  background: pink;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.carrossel-caixa-alerta h2 {
  margin: 0 0 15px;
  font-size: 22px;
  color: #94013e;
}

.carrossel-caixa-alerta button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #94013e;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 600px) {
  .carrossel-texto {
    display: flex;
    flex-direction: column;
  }

  .carrossel-um img {
    width: 380px;
    height: 70px;
    margin-bottom: -30px;
  }

  .carrossel-dois img {
    width: 200px;
    height: 70px;
  }

  .carrossel-botao-categoria {
    width: 200px;
    height: 60px;
    font-size: 14px;
  }

  .carrossel-carrossel {
    width: 95%;
    height: 250px;
  }
}