@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

.homepage-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.homepage-text {
    position: fixed;
    left: 0;
    top: 0;
    width: 66vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.homepage-content {
    height: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.homepage-paragraph {
    font-size: 22px;
    font-family: "Inter", serif;
    font-weight: 600;
    width: 440px;
    background: none;
    text-align: center;
}

.homepage-button {
    display: flex;
    width: 290px;
    height: 80px;
    border-radius: 80px;
    margin-top: 30px;
    margin-bottom: 150px;
    background: none;
    background: linear-gradient(#ec91d1, #940168);
    border: none;
    cursor: pointer;
}

.homepage-button-image {
    max-width: 100%;
    height: auto;
    width: 55px;
    height: 50px;
    padding-top: 0px;
    padding-left: 5px;
    background: none;
}

.homepage-heading {
    font-size: 20px;
    background: none;
    padding-left: 25px;
    color: rgb(0, 0, 0);
}

.homepage-custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.homepage-custom-alert .homepage-alert-box {
    background: linear-gradient(#ffe6f0, #ff99cc);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
}

.homepage-custom-alert .homepage-alert-box .homepage-alert-title {
    margin: 0 0 15px;
    font-size: 22px;
    color: #94013e;
}

.homepage-custom-alert .homepage-alert-box .homepage-alert-button {
    padding: 10px 20px;
    background-color: #94013e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 480px) {
    .homepage-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/celular2.png');
    }

    .homepage-paragraph {
        display: none;
    }
}